.SEO {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.SEO .div {
  background-color: #ffffff;
  overflow-x: hidden;
  width: 440px;
  height: 4558px;
  position: relative;
}

.SEO .frame {
  position: absolute;
  width: 440px;
  height: 1403px;
  top: 0;
  left: 0;
}

.SEO .frame-wrapper {
  display: flex;
  flex-direction: column;
  width: 411px;
  height: 807px;
  align-items: center;
  gap: 32px;
  position: absolute;
  top: 1403px;
  left: 14px;
}

.SEO .frame-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  padding: 25px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.SEO .rectangle-wrapper {
  display: flex;
  flex-direction: column;
  width: 363px;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 10px;
  position: relative;
  flex: 0 0 auto;
}

.SEO .rectangle {
  position: relative;
  width: 113px;
  height: 45px;
  background-color: #ffffff;
}

.SEO .kolkatas-fastest-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 10px;
  position: relative;
  flex: 0 0 auto;
}

.SEO .kolkatas-fastest {
  position: relative;
  width: 323.52px;
  height: 37.81px;
}

.SEO .points {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.SEO .point {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 96px;
}

.SEO .overlap {
  position: relative;
  width: 395px;
  height: 96px;
  left: 10px;
}

.SEO .overlap-group-wrapper {
  position: absolute;
  width: 395px;
  height: 96px;
  top: 0;
  left: 0;
}

.SEO .overlap-group {
  position: relative;
  width: 392px;
  height: 96px;
  border-radius: 6px;
}

.SEO .element-SEO-professionals {
  position: absolute;
  width: 254px;
  height: 49px;
  top: 25px;
  left: 68px;
}

.SEO .professionals {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 29px;
  left: 24px;
}

.SEO .group {
  height: 31px;
}

.SEO .group-2 {
  position: relative;
  width: 32px;
  height: 31px;
}

.SEO .img {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 8px;
  left: 2px;
}

.SEO .group-3 {
  position: absolute;
  width: 8px;
  height: 7px;
  top: 0;
  left: 1px;
}

.SEO .group-4 {
  position: absolute;
  width: 10px;
  height: 17px;
  top: 15px;
  left: 0;
}

.SEO .group-5 {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 8px;
  left: 24px;
}

.SEO .group-6 {
  position: absolute;
  width: 10px;
  height: 17px;
  top: 15px;
  left: 11px;
}

.SEO .group-7 {
  position: absolute;
  width: 8px;
  height: 7px;
  top: 0;
  left: 23px;
}

.SEO .group-8 {
  position: absolute;
  width: 8px;
  height: 7px;
  top: 0;
  left: 12px;
}

.SEO .group-9 {
  position: absolute;
  width: 10px;
  height: 17px;
  top: 15px;
  left: 22px;
}

.SEO .group-10 {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 8px;
  left: 13px;
}

.SEO .offices-in-kolkata {
  position: absolute;
  width: 300px;
  height: 45px;
  top: 25px;
  left: 68px;
}

.SEO .img-2 {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 32px;
  left: 24px;
}

.SEO .element-layer-quality {
  position: absolute;
  width: 253px;
  height: 22px;
  top: 39px;
  left: 67px;
}

.SEO .layer {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 35px;
  left: 28px;
}

.SEO .trusted-by-global {
  position: absolute;
  width: 230px;
  height: 48px;
  top: 26px;
  left: 67px;
}

.SEO .relationship {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 30px;
  left: 22px;
}

.SEO .element-white-hat-and {
  position: absolute;
  width: 268px;
  height: 49px;
  top: 25px;
  left: 67px;
}

.SEO .img-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 2210px;
  left: 0;
}

.SEO .frame-3 {
  position: relative;
  width: 440px;
  height: 954px;
  margin-bottom: -65.00px;
}

.SEO .overlap-2 {
  position: absolute;
  width: 816px;
  height: 1459px;
  top: 3099px;
  left: 0;
}

.SEO .rectangle-2 {
  position: absolute;
  width: 440px;
  height: 425px;
  top: 0;
  left: 0;
  background: linear-gradient(
    132deg,
    rgba(109, 173, 255, 1) 0%,
    rgba(0, 105, 250, 1) 100%
  );
}

.SEO .frame-4 {
  position: absolute;
  width: 816px;
  height: 1459px;
  top: 0;
  left: 0;
}
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
